
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 30px;
}
.hero-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hero-section{
    background-color: #eaeef1;
}
.navbar img{
    width: 50px;
}
.client-section{
    display: flex;
    align-items: center;
    flex-direction:column;
    padding: 40px;
}
.client-image{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 60px;
}
.client-image img{
    width: 50px;
    height: 50px;
    gap: 40px;
}
.community
{
display: flex;
justify-content: center;
}

.manager{   
    
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 60px;
}
.manager-a{
    background-color: #b8babb;
    border-radius: 20px;
    padding: 100px;
    object-fit: cover;
}
.manager-a img{

    width: 200px;
    height: 200px;
}

.spending{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 20px;
    margin: 20px;
}
.spending button{
    display:flex;
    align-items: center;
}
.business
{
    padding-top: 60px;
    padding-bottom: 60 px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeef1;
}
.members{
 display: flex;
    flex-wrap:wrap;
    
    gap: 30px 60px;
}

.member1{

    width: 40px;
}

.design-img{
    text-align: center;
}
.design-img img{
    
    width:400px;
    margin:auto;
}
.design-section{
    display: flex;
    align-items:center;   
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
}
.design-sections{
    display: flex;
    flex-direction: column;
}
.design-text h3{
    margin: 50px;
}

.design-text{
    flex: 1 1 420px;
}

.design-text p{
    margin: 20px 0 25px;
}
.spending-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.customer{
    display: flex;
    justify-content: space-around;
    background-color: #b8babb;
}
.customer-text{
    display: flex;
    flex-direction: column;
}